{"1": {"name": "YumYum Chicken", "diet": "veggie", "price_cents": "50", "url": "https://metalab.at/wiki/MetaNudel#YumYum_Chicken"}, "2": {"name": "Hacker Noods2", "diet": "", "price_cents": "100", "url": "https://metalab.at/wiki/MetaNudel#Hacker_Noodles"}, "3": {"name": "YumYum Beef", "diet": "veggie", "price_cents": "50", "url": "https://metalab.at/wiki/MetaNudel#YumYum_Beef"}, "4": {"name": "YumYum Curry", "diet": "veggie", "price_cents": "50", "url": "https://metalab.at/wiki/MetaNudel#YumYum_Curry"}}